
<div style="padding-top: 45px;"></div>
<section class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7 pt-4 order-2 order-lg-1">
                <img class="img-fluid" style="padding-top: 5px;" src="/Content/html/img/20210522123148.jpg" alt="Modern Jacket 3">
                <img class="img-fluid" style="padding-top: 5px;" src="/Content/html/img/20210522123252.jpg" alt="Modern Jacket 3">
                <img class="img-fluid" style="padding-top: 5px;" src="/Content/html/img/20210522123317.jpg" alt="Modern Jacket 3">
            </div>
      
            <div class="col-lg-6 col-xl-5 pl-lg-5 pt-4 order-1 order-lg-2">
                <ul class="breadcrumb undefined">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item"><a href="/Region/EcuadorPeru">Ecuador & Peru</a></li>
                    <li class="breadcrumb-item active">Pacific Mackerel</li>
                </ul>
                <div class="sticky-top" style="top: 100px;">
                    <h1 class="h2 mb-4">Pacific Mackerel</h1>
                    <div class="row">
                        <div class="col-sm-6 col-lg-12 detail-option mb-3">
                            <h6 class="detail-option-heading">Common Names</h6>
                            <p class="mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>