@{
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<div style="padding-top: 75px;"></div>
<section class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7 pt-4 order-2 order-lg-1">
                <img class="img-fluid" style="padding-top: 5px;" src="/Content/html/img/20210522123148.jpg" alt="Modern Jacket 3">
                <img class="img-fluid" style="padding-top: 5px;" src="/Content/html/img/20210522123252.jpg" alt="Modern Jacket 3">
                <img class="img-fluid" style="padding-top: 5px;" src="/Content/html/img/20210522123317.jpg" alt="Modern Jacket 3">
            </div>
            <div class="col-lg-6 col-xl-5 pl-lg-5 pt-4 order-1 order-lg-2">
                <ul class="breadcrumb undefined">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item"><a href="/Region/EcuadorPeru">Ecuador & Peru</a></li>
                    <li class="breadcrumb-item active">Pacific Mackerel</li>
                </ul>
                <div class="sticky-top" style="top: 100px;">
                    <h1 class="h2 mb-4">Pacific Mackerel</h1>
                    <h3 class="h3 mb-4">Alias: <i>Morenillo</i></h3>
                    <div class="row">
                        <div class="col-sm-6 col-lg-12 detail-option mb-3">
                            <h4 class="h4 mb-4">Scientific Name: <i>Scomber japonicus</i></h4>
                            <h6 class="detail-option-heading">Common Names</h6>
                            <p class="mb-4 text-muted">Pacific Mackerel / Horse Mackerel / Morenillo / Cavala / Skumber / Hareng du Pacifique / Bis/ Masaba / 고등어 / 白腹鲭 / Скумбрия японская/ Vostochnaya skumbriya / Kolyoz balığı</p>

                            <h6 class="detail-option-heading">Size Ranges</h6>
                            <p class="mb-4 text-muted">100 to 1000 gr. and Up</p>

                            <h6 class="detail-option-heading">Presentations</h6>
                            <p class="mb-4 text-muted">Whole Round / Complete, HG, HGT, Degutted and Butterfly</p>

                            <h6 class="detail-option-heading">Process / Packing</h6>
                            <p class="mb-4 text-muted">Interleaved Block Frozen 10 Kg. and IQF. In 10 Kg. or 20 Kg. Liner ctn</p>

                            <h6 class="detail-option-heading">Origin</h6>
                            <p class="mb-4 text-muted"></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
