
<section class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-white text-center testing" data-parallax="scroll" data-image-src="/Content/html/img/20210516152518.jpg" data-speed="0.5" data-position-x="left" data-bleed="20">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 overflow-hidden overlay-content mx-auto">
                <h1 class="mb-5 display-2 font-weight-bold text-uppercase">AbyssAzul</h1>
            </div>
        </div>
    </div>
</section>
<div class="container py-6">
    <div class="row">
        <div class="col-xl-8 mx-auto text-center mb-5">
            <h1 class="text-uppercase">
                Our Catalog
            </h1>
            <p class="lead text-muted">
                Our catalog sections include scientific names of various species, common names in different languages, size ranges in which they could be sourced or produced, the form we can find them in the market or presentation, the packing process, as well as photographs.
            </p>
            <p class="lead text-muted">
                Some of these products may need specifications like '% of glazing', special treatment, value added options and cuts.
                These characteristics will have to be requested by the customer as this catalog is intended to be a basic guide, but the product specification options are not limited to it.
            </p>
        </div>
    </div>
</div>
<section class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-left text-white" data-parallax="scroll" data-image-src="/Content/html/img/20210516152211.jpg" data-speed="0.5" data-position-x="right" data-bleed="20">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 overflow-hidden overlay-content mx-auto">
                <h1 class="mb-3 display-1 font-weight-bold text-uppercase">Ecuador &<br class="display-lg">Peru</h1>
                <p class="h3 font-weight-normal mb-5">Species ranging from Mackerel and Yellow Fin Tuna to Mahi-Mahi and Fan Scallop</p>
                <p> <a class="btn btn-light" href="/Region/EcuadorPeru">View</a></p>
            </div>
        </div>
    </div>
</section>
<section class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-white text-left text-md-right" data-parallax="scroll" data-image-src="/Content/html/img/20210516152230.jpg" data-speed="0.5" data-position-x="left" data-bleed="20">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 overflow-hidden overlay-content mx-auto">
                <h1 class="mb-3 display-1 font-weight-bold text-uppercase">Brazil &<br class="display-lg">Uruguay</h1>
                <p class="h3 font-weight-normal mb-5">Species ranging from Croaker and Brazilian Mackerel to Leather Jacket and Monkfish</p>
                <p> <a class="btn btn-light" href="/Region/BrazilUruguay">View</a></p>
            </div>
        </div>
    </div>
</section>
<section class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-white text-left" data-parallax="scroll" data-image-src="/Content/html/img/20210516152252.jpg" data-speed="0.5" data-position-x="right" data-bleed="20">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 overflow-hidden overlay-content mx-auto">
                <h1 class="mb-3 display-1 font-weight-bold text-uppercase">Guyana &<br class="display-lg">Surinam</h1>
                <p class="h3 font-weight-normal mb-5">Species ranging from Mackerel and Yellow Fin Tuna to Mahi-Mahi and Fan Scallop</p>
                <p> <a class="btn btn-light" href="/Region/GuyanaSurinam">View</a></p>
            </div>
        </div>
    </div>
</section>
