
<section class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-white text-center testing" data-parallax="scroll" data-image-src="/Content/html/img/animal-21668_1920.jpg" data-speed="0.5" data-position-x="left" data-bleed="20">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 overflow-hidden overlay-content mx-auto">
                <h1 class="mb-5 display-2 font-weight-bold text-uppercase">AbyssAzul</h1>
            </div>
        </div>
    </div>
</section>
<section class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-left" data-parallax="scroll" data-image-src="img/photo/serrah-galos-494279-unsplash-parallax.jpg" data-speed="0.5" data-position-x="right" data-bleed="20">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 overflow-hidden overlay-content mx-auto">
                <h1 class="mb-3 display-1 font-weight-bold text-uppercase">Ethnic<br class="display-lg">sweaters</h1>
                <p class="h3 font-weight-normal mb-5">Trendy. Comfy. Beautiful. </p>
                <p> <a class="btn btn-dark" href="category.html">See look book</a></p>
            </div>
        </div>
    </div>
</section>
<section class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-dark text-left text-md-right" data-parallax="scroll" data-image-src="img/photo/kyle-loftus-592041-unsplash-parallax.jpg" data-speed="0.5" data-position-x="left" data-bleed="20">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 overflow-hidden overlay-content mx-auto">
                <h5 class="text-uppercase text-dark font-weight-normal mb-4 letter-spacing-5"> Our favourites</h5>
                <h1 class="mb-3 display-3 font-weight-bold text-uppercase">Shirts</h1>
                <p class="h3 font-weight-normal mb-5">Vestibulum tortor quam.<br>Feugiat vitae, ultricies eget. </p>
                <p> <a class="btn btn-outline-dark" href="category.html">See look book</a></p>
            </div>
        </div>
    </div>
</section>
<section class="h-100vh light-overlay light-overlay-lg-0 d-flex align-items-center text-center" data-parallax="scroll" data-image-src="img/photo/serrah-galos-494312-unsplash-parallax.jpg" data-speed="0.5" data-bleed="20">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 overflow-hidden overlay-content mx-auto">
                <h1 class="mb-5 display-3 font-weight-bold text-uppercase">Men's collection</h1>
                <p> <a class="btn btn-lg btn-dark" href="category.html">See look book</a></p>
            </div>
        </div>
    </div>
</section>
<div class="hero-content pb-5 text-center">
    <h1 class="mb-5">Our Catalog</h1>
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <p class="lead mb-0">
                Our catalog sections include scientific names of various species, common names in different languages, size ranges in which they could be sourced or produced, the form we can find them in the market or presentation, the packing process, as well as photographs
                Some of these products may need specifications like '% of glazing', special treatment, value added options and cuts.
                These characteristics will have to be requested by the customer as this catalog is intended to be a basic guide, but the product specification options are not limited to it.
            </p>
        </div>
    </div>
</div>