<section class="position-relative dark-overlay py-3 py-lg-7 overflow-hidden" data-parallax="scroll" data-image-src="/Content/html/img/20210516150636.jpg" data-speed="0.3" data-position-x="right">
    <div class="container overlay-content hero hero-page">
        <ul class="breadcrumb justify-content-center no-border mb-0">
            <li class="breadcrumb-item"><a class="text-white" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item text-white active">Brazil & Uruguay</li>
        </ul>
        <div class="hero-content pb-5 text-center text-white">
            <h1 class="hero-heading">Brazil & Uruguay</h1>
        </div>
    </div>
</section>
<div class="container" style="padding-top: 35px;">
    <div class="row">
        <!-- White Croaker -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520170950.jpg" alt="White Croaker" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">White Croaker</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Yellow Croaker -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520171128.jpg" alt="Yellow Croaker" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Yellow Croaker</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Atlantic Bumper -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520171200.jpg" alt="Atlantic Bumper" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Atlantic Bumper</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Red Porgy -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520171224.jpg" alt="Red Porgy" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Red Porgy</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- S. John Dory -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520171256.jpg" alt="S. John Dory" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">S. John Dory</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Monkfish -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520171329.jpg" alt="Monkfish" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Monkfish</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Brazilian Mackerel -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520171354.jpg" alt="Brazilian Mackerel" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Brazilian Mackerel</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Leather Jacket -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520171510.jpg" alt="Leather Jacket" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Leather Jacket</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Silver Promfret -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520171659.jpg" alt="Silver Promfret" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Silver Promfret</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
