
<div style="margin-top: 20px"></div>
<section class="position-relative dark-overlay py-3 py-lg-7 overflow-hidden" data-parallax="scroll" data-image-src="/Content/html/img/20210516150433.jpg" data-speed="0.3" data-position-x="right">
    <div class="container overlay-content hero hero-page">
        <ul class="breadcrumb justify-content-center no-border mb-0">
            <li class="breadcrumb-item"><a class="text-white" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item text-white active">Ecuador & Peru</li>
        </ul>
        <div class="hero-content pb-5 text-center text-white">
            <h1 class="hero-heading">Ecuador & Peru</h1>
        </div>
    </div>
</section>
<div class="container" style="padding-top: 35px;">
    <div class="row">
        <!-- Pacific Mackerel -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193123.jpg" alt="Pacific Mackerel" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="/Product/Product?productId=1"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="/Product/Product?productId=1">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="/Product/Product?productId=1">Pacific Mackerel</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- BulletTuna -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193152.jpg" alt="BulletTuna" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">BulletTuna</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Ribbon Fish -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193213.jpg" alt="Ribbon Fish" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Ribbon Fish</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Moonfish -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193227.jpg" alt="Moonfish" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Moonfish</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- ButterFish -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193248.jpg" alt="ButterFish"/>
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">ButterFish</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Pacific Bumper  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193259.jpg" alt="Pacific Bumper" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Pacific Bumper</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Anchovet -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193314.jpg" alt="Anchovet"/>
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Anchovet</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Longnose Anchovy  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193332.jpg" alt="Longnose Anchovy" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Longnose Anchovy</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Pacific Hake  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193351.jpg" alt="Pacific Hake" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Pacific Hake</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- YellowFin Tuna  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193408.png" alt="YellowFin Tuna" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">YellowFin Tuna</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- BigEye Tuna -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193437.jpg" alt="BigEye Tuna"/>
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">BigEye Tuna</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Skipjack Tuna  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193449.jpg" alt="Skipjack Tuna" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Skipjack Tuna</a>
                    </h3>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <!-- Oil Fish  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193504.jpg" alt="Oil Fish" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Oil Fish</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Mahi Mahi  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193515.jpg" alt="Mahi Mahi"/>
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Mahi Mahi</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Black Marlin  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193527.jpg" alt="Black Marlin"/>
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Black Marlin</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Sword Fish  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193545.jpg" alt="Sword Fish" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Sword Fish</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Fan Scallop  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193601.jpg" alt="Fan Scallop" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Fan Scallop</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Humbolt Squid -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517193848.jpg" alt="Humbolt Squid"/>
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Humbolt Squid</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>