<section class="position-relative dark-overlay py-3 py-lg-7 overflow-hidden" data-parallax="scroll" data-image-src="/Content/html/img/20210516151954.jpg" data-speed="0.3" data-position-x="right">
    <div class="container overlay-content hero hero-page">
        <ul class="breadcrumb justify-content-center no-border mb-0">
            <li class="breadcrumb-item"><a class="text-white" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item text-white active">Other Specialties</li>
        </ul>
        <div class="hero-content pb-5 text-center text-white">
            <h1 class="hero-heading">Other Specialties</h1>
        </div>
    </div>
</section>
<div class="container" style="padding-top: 35px;">
    <div class="row">
        <!-- Common Octopus -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520173052.jpg" alt="Common Octopus" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Common Octopus</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Tilapia -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520173149.jpg" alt="Tilapia" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Tilapia</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Salmon and Trout -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520173231.jpg" alt="Salmon and Trout" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Salmon and Trout</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Turbot / Rodaballo -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210520173258.jpg" alt="Turbot / Rodaballo" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Turbot / Rodaballo</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>