<section class="position-relative dark-overlay py-3 py-lg-7 overflow-hidden" data-parallax="scroll" data-image-src="/Content/html/img/20210516151259.jpg" data-speed="0.3" data-position-x="right">
    <div class="container overlay-content hero hero-page">
        <ul class="breadcrumb justify-content-center no-border mb-0">
            <li class="breadcrumb-item"><a class="text-white" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item text-white active">Shrimp / Camarón</li>
        </ul>
        <div class="hero-content pb-5 text-center text-white">
            <h1 class="hero-heading">Shrimp / Camarón</h1>
        </div>
    </div>
</section>
<div class="container" style="padding-top: 35px;">
    <div class="row">
        <!-- Pacific White Shrimp -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517183622.jpg" alt="Pacific White Shrimp"/>
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Pacific White Shrimp</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Pacific SeaBob -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517183823.jpg" alt="Pacific SeaBob"/>
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Pacific SeaBob</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Atlantic SeaBob -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517184007.jpg" alt="Atlantic SeaBob" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Atlantic SeaBob</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Deep Sea Red Shrimp -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517184641.jpg" alt="Deep Sea Red Shrimp" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Deep Sea Red Shrimp</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Deep Sea Pink Shrimp  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517182713.jpg" alt="Deep Sea Pink Shrimp" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Deep Sea Pink Shrimp</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- Black Tiger Shrimp  -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <img class="img-fluid summaryImages" src="/Content/html/img/20210517183108.jpg" alt="Black Tiger Shrimp" />
                    <div class="product-hover-overlay">
                        <a class="product-hover-overlay-link" href="#"></a>
                        <div class="product-hover-overlay-buttons">
                            <a class="btn btn-dark btn-buy" href="#">
                                <span class="btn-buy-label ml-2">View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <h3 class="h6 text-uppercase mb-1">
                        <a class="text-dark" href="#">Black Tiger Shrimp</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

